<div class="swiper-container">
    <div class="swiper actual-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore2.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore3.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore4.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore5.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore2.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lore3.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-button-next actual"></div>
    <div class="swiper-button-prev actual"></div>
</div>