<div class="swiper-container">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/fake-photos/main-slide1.jpg" alt="banner" title="баннер"
                     class="img-fluid br-8">
            </div>
            <div class="swiper-slide">
                <img src="img/fake-photos/main-slide1.jpg" alt="banner" title="баннер"
                     class="img-fluid br-8">
            </div>
            <div class="swiper-slide">
                <img src="img/fake-photos/main-slide1.jpg" alt="banner" title="баннер"
                     class="img-fluid br-8">
            </div>
            <div class="swiper-slide">
                <img src="img/fake-photos/main-slide1.jpg" alt="banner" title="баннер"
                     class="img-fluid br-8">
            </div>
            <div class="swiper-slide">
                <img src="img/fake-photos/main-slide1.jpg" alt="banner" title="баннер"
                     class="img-fluid br-8">
            </div>
        </div>
    </div>
    <div class="swiper-pagination banner"></div>
    <div class="swiper-button-next banner"></div>
    <div class="swiper-button-prev banner"></div>
</div>