<div class="swiper-container">
    <div class="swiper mini-banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lorem1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lorem1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lorem1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lorem1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!">
                    <img src="img/fake-photos/lorem1.jpg" alt="banner" title="баннер"
                         class="img-fluid overflow-hidden br-8">
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination mini-banner"></div>
</div>