<div class="swiper-container">
    <div class="swiper popular-categories-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-2.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-15.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-3.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-7.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-18.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-12.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-4.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="/catalog.html" class="category-card">
                    <div class="card-image">
                        <img src="img/fake-goods/image-85-5.png" alt="category" title="Какая-то категория">
                    </div>
                    <div class="card-body">
                        <p class="title">Электроника</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-button-next popular-categories"></div>
    <div class="swiper-button-prev popular-categories"></div>
</div>