{% extends 'layouts/base.html' %}

{% block content %}
<div class="breadcrumbs mb-30">
    <ul class="breadcrumbs-list">
        <li><a href="#!" class="breadcrumb">Главная</a></li>
        <li><a href="#!" class="breadcrumb">Электроника</a></li>
        <li><a href="#!" class="breadcrumb">Умные часы и браслеты</a></li>
        <li><a href="#!" class="breadcrumb">Смарт-часы</a></li>
        <li><span>Умная колонка Яндекс Станция 2 с Алисой черный антрацит</span></li>
    </ul>
</div>

<h4 class="global-title big">Умная колонка Яндекс Станция 2 с Алисой черный антрацит</h4>

<section class="good-container">
    <div class="good-container-header">
        <div class="d-flex align-items-center">
            <div class="rating">
                <i class="icon icon-star"></i>
                <i class="icon icon-star"></i>
                <i class="icon icon-star"></i>
                <i class="icon icon-star"></i>
                <i class="icon icon-star half"></i>
                <span>4.3</span>
            </div>
            <div class="comments">
                <i class="icon icon-chat"></i>
                <span>65 отзыва</span>
            </div>
            <div class="favorit">
                <i class="icon icon-like"></i>
                <span>В избранное</span>
            </div>
        </div>
        <p class="articul">Артикул 100 030 020 889</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="good-item-swiper-container">
                <div class="swiper good-item-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-1.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-2.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-3.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-4.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-5.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-6.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-7.png" alt="Good" title="Товар">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/fake-goods/image-85-8.png" alt="Good" title="Товар">
                        </div>
                    </div>
                </div>
                <div class="good-item-swiper-pagination"></div>
                <span class="is-new">Новинка</span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <ul class="characteristics">
                <li>Тип: <span>Умная колонка</span></li>
                <li>Мощность (Вт): <span>30</span></li>
                <li>Источник питания: <span>от электросети</span></li>
                <li>Количество динамиков: <span>2</span></li>
                <li>Тип акустической системы: <span>2.0</span></li>
                <li>Частотный диапозон (Гц): <span>65-20000</span></li>
                <li>Bluetooth: <span>Есть, 5.0</span></li>
                <li>Цвет: <span>Антрацит</span></li>
                <li>Материал корпуса: <span>Пластик</span></li>
                <li>Сабвуфер: <span>Нет</span></li>
                <li>Голосовой помощник: <span>Алиса</span></li>
            </ul>
            <a href="#!">Все характеристики</a>
        </div>
        <div class="col-12 col-md-3">
            <a href="#!" class="auth-discount">
                <img src="img/percent.png" alt="percent" title="скидка">
                <div class="desc">
                    <p class="subtitle"><span>Авторизуйтесь,</span> <br>чтобы снизить цену</p>
                </div>
            </a>
            <div class="add-shop">
                <span><i class="icon icon-star"></i> Доставка завтра или позже</span>
                <p class="price current"><span class="number">109990</span> <span class="currency">₸</span></p>
                <p class="price with-courier">Курьером продавца - <span class="number">9500</span> <span
                        class="currency">₸</span></p>
                <p class="dates">с 25 по 26 июня</p>
                <a href="#" class="btn btn-main btn-block">Купить</a>
                <p class="salesman">Продавец: <span>Alt-Del</span></p>
            </div>
        </div>
    </div>
    <section class="section">
        <h4 class="global-title mb-25">
            Похожие товары
        </h4>
        {% include 'components/sliders/similar-products-swiper.html' %}
    </section>

    <div class="mt-75">
        <ul class="tab-items good-item">
            <li class="tab-item active" target-wrapper="good-tab" target-tab="about">О товаре</li>
            <li class="tab-item" target-wrapper="good-tab" target-tab="characteristics">Храктеристики</li>
            <li class="tab-item" target-wrapper="good-tab" target-tab="price">Цены <span>6</span></li>
            <li class="tab-item" target-wrapper="good-tab" target-tab="reviews">Отзывы <span>299</span></li>
        </ul>

        <div class="tab-contents good-item mt-50" id="good-tab">
            <div class="tab-content active" id="about">
                <h2 class="mb-3">О товаре</h2>
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="desc pe-3">
                            <p>«Умная» колонка с Алисой «Яндекс Станция 2» в цвете «антрацит» представляет собой
                                современное
                                акустическое устройство, удобное и простое в управлении. Голосовой помощник дает
                                возможность
                                быстро настраивать систему, следуя своим предпочтениям.
                                <br><br>
                                Колонка мощностью 30 Вт обеспечивает объемное звучание с глубокими басами и четкими
                                верхними
                                нотами. Она поддерживает Wi-Fi и Bluetooth, чтобы слушать музыку можно было с разных
                                носителей - смартфона, планшета, ноутбука и т.д.
                                <br><br>
                                Имеется встроенный микрофон, поэтому можно говорить по громкой связи. У колонки
                                компактные
                                габариты и элегантный внешний облик, и она легко впишется в любой интерьер.</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <div class="images">
                                    <img src="img/fake-good-item/image66.png" alt="good item" class="img-fluid mt-50 bra-20">
                                    <img src="img/fake-good-item/image67.png" alt="good item" class="img-fluid mt-50 bra-20">
                                    <img src="img/fake-good-item/image68.png" alt="good item" class="img-fluid mt-50 bra-20">
                                    <img src="img/fake-good-item/image69.png" alt="good item" class="img-fluid mt-50 bra-20">
                                    <img src="img/fake-good-item/image70.png" alt="good item" class="img-fluid mt-50 bra-20">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <h2 class="mb-3">Выгодные комплекты</h2>
                        <div class="profitable-kits">
                            <div class="title">Выгодный комплект с Яндекс Станцией 2</div>
                            <div class="set">
                                <img src="img/fake-goods/image-85-5.png" alt="">
                                <div class="desc">
                                    <p class="name">Умная колонка Яндекс Станция 2 с Алисой черный антрацит</p>
                                    <p class="price"><span class="number">16999</span><span class="currency">₸</span>
                                    </p>
                                </div>
                            </div>
                            <div class="plus-static"></div>
                            <div class="set">
                                <img src="img/fake-goods/image-85-6.png" alt="">
                                <div class="desc">
                                    <p class="name">Умная колонка Яндекс Станция 2 с Алисой черный asfasfsaf asf
                                        антрацит</p>
                                    <p class="price"><span class="number">8999</span><span class="currency">₸</span></p>
                                </div>
                            </div>
                            <p class="benefit">Выгода <span class="price"><span class="number">5999</span> ₸</span></p>
                            <p class="price total"><span class="number">5999</span><span class="currency">₸</span></p>
                            <a href="#" class="btn btn-main btn-block">Купить комплект</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="characteristics">
                <h2 class="mb-3">Характеристики</h2>
                <ul class="characteristics">
                    <li>Тип: <span>Умная колонка</span></li>
                    <li>Мощность (Вт): <span>30</span></li>
                    <li>Источник питания: <span>от электросети</span></li>
                    <li>Количество динамиков: <span>2</span></li>
                    <li>Тип акустической системы: <span>2.0</span></li>
                    <li>Частотный диапозон (Гц): <span>65-20000</span></li>
                    <li>Bluetooth: <span>Есть, 5.0</span></li>
                    <li>Цвет: <span>Антрацит</span></li>
                    <li>Материал корпуса: <span>Пластик</span></li>
                    <li>Сабвуфер: <span>Нет</span></li>
                    <li>Голосовой помощник: <span>Алиса</span></li>
                </ul>
            </div>
            <div class="tab-content" id="price">
                <h2 class="mb-3">Цены</h2>
                <ul class="tab-items price-tab">
                    <li class="tab-item active" target-wrapper="price-tab" target-tab="any">Любая доставка</li>
                    <li class="tab-item" target-wrapper="price-tab" target-tab="tomorrow">Завтра или позже</li>
                    <li class="tab-item" target-wrapper="price-tab" target-tab="today">Забрать сегодня в магазине</li>
                </ul>
                <div class="tab-contents price-tab-content" id="price-tab">
                    <div class="form-group mt-20 mb-0">
                        <input type="checkbox" id="low" name="low" class="form-check">
                        <label for="low">Сначала самая низкая цена</label>
                    </div>
                    <div class="tab-content active" id="any">
                        <div class="price-list">
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">HOLODILNIK.RU (Север)</p>
                                </div>
                                <div class="delivery">
                                    <p>Доставка, 26 июня — 1 ₸ <br>
                                        Пункты выдачи, 26 июня — 1 ₸</p>
                                </div>
                                <div class="price">
                                    <div><span class="number">27499</span><span class="currency">₸</span></div>
                                    <div class="credit">Кредит от 805 ₸ в мес</div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">В корзину</a>
                                </div>
                            </div>
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">Ситилинк</p>
                                </div>
                                <div class="delivery">
                                    <p>Забрать в магазине, сегодня — 0 ₸</p>
                                </div>
                                <div class="price">
                                    <div><span class="number">28800</span><span class="currency">₸</span></div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">Получить сегодня</a>
                                </div>
                            </div>
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">ТЕХНОПАРК</p>
                                </div>
                                <div class="delivery">
                                    <p>Доставка курьером продавца, <br>
                                        25 июня — 0 ₸</p>
                                </div>
                                <div class="price">
                                    <div class="d-flex align-items-center"><span class="number">999999</span><span class="currency">₸</span> <span class="discount"><b>-19%</b></span></div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">В корзину</a>
                                </div>
                            </div>
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">Связной</p>
                                </div>
                                <div class="delivery">
                                    <p>Забрать в магазине, сегодня — 0 ₸</p>
                                </div>
                                <div class="price">
                                    <div><span class="number">29990</span><span class="currency">₸</span></div>
                                    <div class="old-price">999999</div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tomorrow">
                        <div class="price-list">
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">ТЕХНОПАРК</p>
                                </div>
                                <div class="delivery">
                                    <p>Доставка курьером продавца, <br>
                                        25 июня — 0 ₸</p>
                                </div>
                                <div class="price">
                                    <div class="d-flex align-items-center"><span class="number">999999</span><span class="currency">₸</span> <span class="discount"><b>-19%</b></span></div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">В корзину</a>
                                </div>
                            </div>
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">Связной</p>
                                </div>
                                <div class="delivery">
                                    <p>Забрать в магазине, сегодня — 0 ₸</p>
                                </div>
                                <div class="price">
                                    <div><span class="number">29990</span><span class="currency">₸</span></div>
                                    <div class="old-price">999999</div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="today">
                        <div class="price-list">
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">HOLODILNIK.RU (Север)</p>
                                </div>
                                <div class="delivery">
                                    <p>Доставка, 26 июня — 1 ₸ <br>
                                        Пункты выдачи, 26 июня — 1 ₸</p>
                                </div>
                                <div class="price">
                                    <div><span class="number">27499</span><span class="currency">₸</span></div>
                                    <div class="credit">Кредит от 805 ₸ в мес</div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">В корзину</a>
                                </div>
                            </div>
                            <div class="price-item">
                                <div class="salesman">
                                    <p class="name">Ситилинк</p>
                                </div>
                                <div class="delivery">
                                    <p>Забрать в магазине, сегодня — 0 ₸</p>
                                </div>
                                <div class="price">
                                    <div><span class="number">28800</span><span class="currency">₸</span></div>
                                </div>
                                <div class="action">
                                    <a href="#" class="btn btn-main outline">Получить сегодня</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="reviews">
                <h2 class="mb-3">Отзывы</h2>
            </div>
        </div>
    </div>

    <section class="section">
        <h4 class="global-title mb-25">
            Рекомендуем приобрести
        </h4>
        {% include 'components/recommended-grid.html' %}
    </section>


</section>

{% endblock %}