.img-fluid{
  width: 100%;
  height: auto;
}

.regular{
  font-weight: 400!important;
}

.medium{
  font-weight: 500!important;
}

.semi-bold{
  font-weight: 600!important;
}

.bold{
  font-weight: 700!important;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.position-relative{
  position: relative;
}

.br-8{
  border-radius: 8px;
}

.overflow-hidden{
  overflow: hidden;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-25{
  margin-bottom: 25px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-40{
  margin-bottom: 40px;
}

.mt-50{
  margin-top: 50px;
}

.mt-90{
  margin-top: 90px;
}

.pt-50{
  padding-top: 50px;
}

.pt-70{
  padding-top: 70px;
}

.pt-120{
  padding-top: 120px;
}

.w-100{
  width: 100%;
}

.bg-gray{
  background-color: #F6F6F5;
}