.img-fluid{
  width: 100%;
  height: auto;
}

.img-auto{
  width: auto;
  height: auto;
}

.text-orange{
  color: $mainColor;
}

.lightgray-text{
  color: #8C959C;
}

.gray-text{
  color: #494F54;
}

.regular{
  font-weight: 400!important;
}

.medium{
  font-weight: 500!important;
}

.semi-bold{
  font-weight: 600!important;
}

.bold{
  font-weight: 700!important;
}

.fz-14{
  font-size: rem(14);
}

.fz-18{
  font-size: rem(18);
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.position-relative{
  position: relative;
}

.br-8{
  border-radius: 8px;
}

.overflow-hidden{
  overflow: hidden;
}

.bra-20{
  border-radius: 20px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-25{
  margin-bottom: 25px;
}

.mb-30{
  margin-bottom: 30px;
}

.hide{
  display: none;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-50{
  margin-bottom: 50px;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.mt-32{
  margin-top: 32px;
}

.mt-50{
  margin-top: 50px;
}

.mt-75{
  margin-top: 75px;
}

.mt-90{
  margin-top: 90px;
}

.pt-50{
  padding-top: 50px;
}

.pt-70{
  padding-top: 70px;
}

.pt-120{
  padding-top: 120px;
}

.w-100{
  width: 100%;
}

.bg-gray{
  background-color: #F6F6F5;
}