@media screen and (max-width: 479px){
  .hide-480{
    display: none!important;
  }
}


@media screen and (max-width: 767px){
  .hide-768{
    display: none!important;
  }
}

@media screen and (max-width: 990px){
  .hide-991{
    display: none!important;
  }
}

@media screen and (max-width: 1279px){
  .hide-1280{
    display: none!important;
  }
}



