<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-2 col-lg-3 root-col-2">
                <img src="img/logo.svg" alt="logo" title="logo">
            </div>
            <div class="col-12 col-xl-10 col-lg-9 root-col-10">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <p class="footer-title">Маркетплейс</p>
                        <ul>
                            <li><a href="#!">О компании</a></li>
                            <li><a href="#!">Контакты</a></li>
                            <li><a href="#!">Вакансии</a></li>
                            <li><a href="#!">Реквизиты</a></li>
                            <li><a href="#!">Партнерская программа</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="footer-title">Покупателю</p>
                        <ul>
                            <li><a href="#!">Помощь покупателю</a></li>
                            <li><a href="#!">Доставка</a></li>
                            <li><a href="#!">Оплата</a></li>
                            <li><a href="#!">Возврат</a></li>
                            <li><a href="#!">Акции</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="footer-title">Покупателю</p>
                        <ul>
                            <li><a href="#!">Публичная оферта</a></li>
                            <li><a href="#!">Правила бонусной программы</a></li>
                            <li><a href="#!">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <a href="tel:88000804888" class="phone">8-800-08-04-888</a>
                        <span class="working-mode">(c 08:00 до 22:00)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright-block">
            <div class="col-12 col-md-2 root-col-2">
                <span class="copyright">© 2022. Все права защищены.</span>
            </div>
            <div class="col-12 col-md-10 root-col-10">
                <span class="copyright">Указанная в интернет-магазине цена товаров и условия их приобретения действительны на текущую дату.</span>
            </div>
        </div>
    </div>
</footer>
<div class="backdrop" id="backdrop"></div>
