<div class="navbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-xl-2 col-lg-3 col-md-4 root-col-2">
                <a href="/"><img src="img/logo.svg" src-dark="img/logo-dark.svg" src-light="img/logo.svg" alt="logo" title="logo" class="logo" id="logo-header"></a>
            </div>
            <div class="col-12 col-xl-10 col-lg-9 col-md-8 root-col-10">
                <div class="nav-content">
                    <div id="menu-toggle">
                        <input type="checkbox" id="menu-checkbox"/>
                       <div class="burger">
                           <span></span>
                           <span></span>
                           <span></span>
                       </div>
                        <div class="catalog">
                            {% include 'components/menu-catalog.html' %}
                        </div>
                    </div>
                    <form>
                        <div class="search-form">
                            <input type="text" placeholder="Искать товары" class="search">
                            <button type="submit" class="search-action"><i class="icon icon-magnifying-glass"></i></button>
                        </div>
                    </form>
                    <div class="actions">
                        <a href="#!" class="action-item">
                            <i class="icon icon-profile"></i>
                            <span>Войти</span>
                        </a>
                        <a href="#!" class="action-item" badge="0">
                            <i class="icon icon-like"></i>
                            <span>Избранное</span>
                        </a>
                        <a href="#!" class="action-item" badge="5">
                            <i class="icon icon-cart2"></i>
                            <span>Корзина</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>