<div class="pre-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-xl-2 col-lg-3 col-md-4 root-col-2 hide-480">
                <a href="#!" class="btn-rainbow">Хочу продавать</a>
            </div>
            <div class="col-12 col-xl-10 col-lg-9 col-md-8 root-col-10">
                <div class="pre-nav-content">
                    <ul class="pre-nav hide-1280">
                        <li class="pre-nav-item"><a href="#!">О компании</a></li>
                        <li class="pre-nav-item"><a href="#!">Доставка и оплата</a></li>
                        <li class="pre-nav-item"><a href="#!">Гарантия и возврат</a></li>
                        <li class="pre-nav-item"><a href="#!">Вопросы и ответы</a></li>
                    </ul>
                    <div class="right-nav">
                       <div class="location">
                           <span class="dropdown"><i class="icon icon-location"></i> Астана <i class="icon icon-chevron-down"></i></span>
                           <div class="dropdown-content">
                               <div class="row">
                                   <div class="col-12 col-md-6">
                                       <ul>
                                           <li><a href="#!">Алматы</a></li>
                                           <li><a href="#!">Усть-Каменагорск</a></li>
                                           <li><a href="#!">Шымкент</a></li>
                                           <li><a href="#!">Караганда</a></li>
                                           <li><a href="#!">Актау</a></li>
                                           <li><a href="#!">Атырау</a></li>
                                       </ul>
                                   </div>
                                   <div class="col-12 col-md-6">
                                       <ul>
                                           <li><a href="#!">Тараз</a></li>
                                           <li><a href="#!">Туркестан</a></li>
                                           <li><a href="#!">Костанай</a></li>
                                           <li><a href="#!">Петропавловск</a></li>
                                           <li><a href="#!">Атырау</a></li>
                                           <li><a href="#!">Павлодар</a></li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                        <div class="dark-theme-switch">
                            <input type="checkbox" hidden="hidden" id="dark-theme">
                            <label class="switch" for="dark-theme"></label>
                            <span>Ночной режим</span>
                        </div>
                        <div class="lang">
                            <span class="dropdown"><img src="img/langs/ru.png" alt="lang"> RU <i class="icon icon-chevron-down"></i></span>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a><img src="img/langs/ru.png" alt="lang"> EN</a></li>
                                    <li><a><img src="img/langs/ru.png" alt="lang"> KZ</a></li>
                                    <li><a><img src="img/langs/ru.png" alt="lang"> UK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>