<div class="row">
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/samsung.png" alt="logo" title="samsung">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/hisense.png" alt="logo" title="hisense">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/honor.png" alt="logo" title="honor">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/novex.png" alt="logo" title="novex">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/tefal.png" alt="logo" title="tefal">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/xiaomi.png" alt="logo" title="xiaomi">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/whirlpool.png" alt="logo" title="whirlpool">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/huawei.png" alt="logo" title="huawei">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/braun.png" alt="logo" title="braun">
        </a>
    </div>
    <div class="col-6 col-lg-20 col-md-3">
        <a href="/catalog.html" class="brand-card">
            <img src="img/logos/oppo.png" alt="logo" title="oppo">
        </a>
    </div>
</div>