<form class="form-index">
    <div class="row">
        <h4 class="title">Выгода с доставкой</h4>
        <p class="subtitle">Подпишитесь и получайте промокоды, акции и подборки товаров на свою почту.</p>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="form-group-index">
                    <input type="email" id="email" name="email" placeholder="Введите e-mail">
                    <button type="submit" class="btn btn-main">Подписаться</button>
                </div>
            </div>
        </div>
        <p class="policy">Нажимая «Подписаться» вы соглашаетесь с <a href="#!">Условиями использования сайта</a> и
            <br><a
                    href="#!">Политикой обработки персональных данных</a></p>

    </div>
</form>