<div class="location-block">
    <span class="dropdown" tabindex="2"><i class="icon icon-location"></i> Астана <i class="icon icon-chevron-down"></i></span>
    <div class="dropdown-content location">
        <div class="region">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Найти город">
            </div>
            <ul>
                <li><a href="#!">Астана</a></li>
                <li><a href="#!">Алматы</a></li>
                <li><a href="#!" id="1">Акмолинская область</a></li>
                <li><a href="#!" id="2">Алматинская область</a></li>
                <li><a href="#!" id="3">Актюбинская область</a></li>
                <li><a href="#!" id="4">Атырауская область</a></li>
                <li><a href="#!" id="5">Жамбылская область</a></li>
            </ul>
        </div>
        <ul class="city" data-id="1">
            <li><a href="#!">Акмола</a></li>
            <li><a href="#!">ID - 1</a></li>
            <li><a href="#!">Еще что-то</a></li>
            <li><a href="#!">У меня плохо</a></li>
            <li><a href="#!">С географией</a></li>
            <li><a href="#!">Поэтому</a></li>
            <li><a href="#!">Выведу вот так</a></li>
            <li><a href="#!">Для наглядности</a></li>
        </ul>
        <ul class="city" data-id="2">
            <li><a href="#!">Алматы</a></li>
            <li><a href="#!">ID - 2</a></li>
            <li><a href="#!">Еще что-то</a></li>
            <li><a href="#!">У меня плохо</a></li>
            <li><a href="#!">С географией</a></li>
            <li><a href="#!">Поэтому</a></li>
            <li><a href="#!">Выведу вот так</a></li>
            <li><a href="#!">Для наглядности</a></li>
        </ul>
        <ul class="city" data-id="3">
            <li><a href="#!">Алматы</a></li>
            <li><a href="#!">ID - 3</a></li>
            <li><a href="#!">Еще что-то</a></li>
            <li><a href="#!">У меня плохо</a></li>
            <li><a href="#!">С географией</a></li>
            <li><a href="#!">Поэтому</a></li>
            <li><a href="#!">Выведу вот так</a></li>
            <li><a href="#!">Для наглядности</a></li>
        </ul>
        <ul class="city" data-id="4">
            <li><a href="#!">Алматы</a></li>
            <li><a href="#!">ID - 4</a></li>
            <li><a href="#!">Еще что-то</a></li>
            <li><a href="#!">У меня плохо</a></li>
            <li><a href="#!">С географией</a></li>
            <li><a href="#!">Поэтому</a></li>
            <li><a href="#!">Выведу вот так</a></li>
            <li><a href="#!">Для наглядности</a></li>
        </ul>
    </div>
</div>